<div *ngFor="let chat of chats">
	<span>{{us.doc(chat.author).email}}</span>
	<span> | </span>
	<span>{{chat.text}}</span>
</div>

<form (ngSubmit)="send()" *ngIf="isComment" [ngModelOptions]="{standalone: true}" >
	<input type="text" [(ngModel)]="text" name="text">
	<button [disabled]="!text"><span translate>Menu.Send</span></button>
</form>
<form (ngSubmit)="send()" *ngIf="!isComment" [ngModelOptions]="{standalone: true}">
	<input type="text" [(ngModel)]="text" name="text">
	<button [disabled]="!text" ><span translate>Menu.Send</span></button>
</form>
